SET SQL_LOG_BIN=0;
CREATE USER '{{ mysql_repl_user }}'@'%' IDENTIFIED WITH 'mysql_native_password' BY '{{ mysql_repl_pass }}';
GRANT REPLICATION SLAVE on *.* TO '{{ mysql_repl_user }}'@'%';
CREATE USER sbtest@'%' IDENTIFIED WITH 'mysql_native_password' BY 'sbtest';
GRANT ALL on *.* TO 'sbtest'@'%';
FLUSH PRIVILEGES;
SET SQL_LOG_BIN=1;
CHANGE MASTER TO MASTER_USER='{{ mysql_repl_user }}', MASTER_PASSWORD='{{ mysql_repl_pass }}' FOR CHANNEL 'group_replication_recovery';
